@model WebApplication2.Models.Doacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCartao" class="control-label"></label>
                <input asp-for="NomeCartao" class="form-control" />
                <span asp-validation-for="NomeCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCartao" class="control-label"></label>
                <input asp-for="NumeroCartao" class="form-control" />
                <span asp-validation-for="NumeroCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidadeCartao" class="control-label"></label>
                <input asp-for="ValidadeCartao" class="form-control" />
                <span asp-validation-for="ValidadeCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodSegurancaCartao" class="control-label"></label>
                <input asp-for="CodSegurancaCartao" class="form-control" />
                <span asp-validation-for="CodSegurancaCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instituicaoCNPJ" class="control-label"></label>
                <select asp-for="instituicaoCNPJ" class="form-control" asp-items="ViewBag.instituicaoCNPJ"></select>
                <span asp-validation-for="instituicaoCNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
