@model IEnumerable<doee.Models.doeeViewModels.DataRegistroGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2 class="text-center">Estatísticas</h2>
<br />
<h5>Registro de instituições por data</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Instituições Registradas
            </th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InscricaoDate)
                </td>
                <td>
                    @item.Count
                </td>
            </tr>
        }
</table>