@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Ong"))
{
    <h2 class="text-lg-center font-italic">Segurança</h2>
    <p class="text-lg-center font-italic">Por questão de segurança, após autenticação fica inabilitado a navegação.</p>
    <p class="text-lg-center font-italic">Sendo permitido apenas alteração ou exclusão da instituição</p>

    <div class="text-center">
        <a class="btn btn-dark" asp-controller="Instituicoes" asp-action="Edit" asp-route-id="@User.Identity.Name"> Alterar</a>
        <a class="btn btn-dark" asp-controller="Instituicoes" asp-action="Delete" asp-route-id="@User.Identity.Name"> Excluir</a>
    </div>

}
else
{
    <div class="jumbotron">
        <h1 class="display-4 font-italic">Contribua para projetos em:</h1>
    </div>

    <div class="text-center">


        <div class="row">
            <div class="col-md-5">

                <a class="nav-link list-group-item list-group-item-action active" asp-area="" asp-controller="Instituicoes">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-1">Alimentação</h3>
                        @*<img src="~/lib/imagens/02a.jpg" />*@
                    </div>
                </a> <br />

                <a class="nav-link list-group-item list-group-item-action active" asp-area="" asp-controller="Instituicoes" asp-action="Index">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">Educação</h3>
                    </div>
                </a><br />
                <a class="nav-link list-group-item list-group-item-action active" asp-area="" asp-controller="Instituicoes" asp-action="Index">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">Saúde</h3>
                    </div>
                </a><br />
                <a class="nav-link list-group-item list-group-item-action active" asp-area="" asp-controller="Instituicoes" asp-action="Index">
                    @*<a href="#" src class="list-group-item list-group-item-action active" aria-current="true">*@
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">Esporte</h3>
                    </div>
                </a>
            </div>

            <div class="col-md-5">
            
            </div>
        </div>

    </div>
}