@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("Ong"))
{
    <h2 class="text-lg-center font-italic">Segurança</h2>
    <p class="text-lg-center font-italic">Por questão de segurança, após autenticação a navegação fica restringida.</p>

    <div class="text-center">
        <a class="btn btn-dark" asp-controller="Instituicoes" asp-action="Edit" asp-route-id="@User.Identity.Name"> Alterar</a>
        <a class="btn btn-dark" asp-controller="Instituicoes" asp-action="Details" asp-route-id="@User.Identity.Name"> Todos Detalhes da Instituição</a>
        <a class="btn btn-dark" asp-controller="Instituicoes" asp-action="Delete" asp-route-id="@User.Identity.Name"> Excluir</a>

    </div>
}
            else { 
<div class="jumbotron col-md-12">
    <h1 class=" font-italic">Contribua para projetos em:</h1>
</div>

<div class="text-center">

    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("CategoriaMenu")
        </div>

        <div class="col-md-4">

            <h2 class="justify-content-md-center font-italic"> acompanhe suas doações</h2>

            <p>Se você já fez uma ou mais doações, basta digitar seu CPF e verificar todas suas doações feitas.</p>
            <form asp-controller="Doacoes" asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="CPF" required maxlength="11" /> <br><br>
                        <input type="submit" value="Verificar" class="btn btn-danger" />
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
}